body{
    font-family:'Cairo',sans-serif;
    direction:rtl;
    margin:0;
    background:linear-gradient(135deg,#4facfe,#00f2fe);
}

.container{
    max-width:600px;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
}

input,select,textarea{
    width:100%;
    padding:10px;
    margin-top:10px;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    background:green;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.status{
    text-align:center;
    margin-top:10px;
    font-weight:bold;
}